<section class="item-header flexrow">
  <div class="item-icon-badge">
    <img src="{{item.img}}" alt="{{item.name}}" data-action="editImage" title="Click to change image" />
  </div>
  <div class="header-info flexcol">
    <input type="text" name="name" value="{{item.name}}" placeholder="Item Name" />
    <span class="item-type">{{type}}</span>
  </div>
</section>
