<section class="item-header flexrow">
  <img src="{{item.img}}" alt="{{item.name}}" data-edit="img" class="item-img" />
  <div class="header-info flexcol">
    <input type="text" name="name" value="{{item.name}}" placeholder="Item Name" />
    <span class="item-type">{{type}}</span>
  </div>
</section>
