<section class="item-header flexrow">
  <div class="item-icon-badge">
    <i class="{{itemIcon}}"></i>
  </div>
  <div class="header-info flexcol">
    <input type="text" name="name" value="{{item.name}}" placeholder="Item Name" />
    <span class="item-type">{{type}}</span>
  </div>
</section>
